<!-- recetas/templates/recetas/agregar_insumo.html -->
{% extends 'recetas/base.html' %}

{% block content %}
    <h1>Agregar Insumo</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'recetas:agregar_insumo' %}">Agregar Insumo </a>
        class="btn btn-secondary">Volver<
        <a href="{% url 'recetas:historico_calculos' %}" class="btn btn-info">Ver Histórico</a>
    </form>
{% endblock %}