{% extends 'recetas/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Agregar Menú Diario</h1>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'recetas:index' %}" class="btn btn-secondary">Volver al Inicio</a>
                    <a href="{% url 'recetas:historico_calculos' %}" class="btn btn-info">Ver Histórico</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
