<!-- recetas/templates/recetas/agregar_receta.html -->
{% extends 'recetas/base.html' %}

{% block content %}
    <h1>Agregar Receta</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'recetas:calcular_insumos_web' %}" class="btn btn-secondary">Volver</a>
        <a href="{% url 'recetas:historico_calculos' %}" class="btn btn-info">Ver Histórico</a>
    </form>
{% endblock %}